:root {
    --accent-color: #052540;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

.container {
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    border: solid var(--accent-color) 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

/********LEFT********/
.leftside {
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template-rows: 150px 1fr;
}

/*OPTIONS*/
.options {
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.grid-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#source-link {
    font-family: monospace;
    
}

.input-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
}

input[type="color"] {
    width: 100%;
    height: 60px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.input-grid div {
    color: var(--accent-color);
    font-family: monospace;
    font-weight: 500;
    height: 50px;
    width: 75px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

input[type="color"]:hover,
.input-grid div:hover {
    transform: scale(1.05);
}

.active-button {
    color: white !important;
    background-color: var(--accent-color);
    font-weight: 700;
}

#size-display {
    cursor: default;
    font-family: monospace;
}

header {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 2em;
    font-family: monospace;
    font-weight: bolder;
    cursor: default;
}



/*********RIGHT*********/

/*GRID*/
main {
    grid-area: 1 / 2 / 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 400px;
    height: 400px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/***SLIDER STYLING***/
input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 11px;
cursor: pointer;
animation: 0.2s;
box-shadow: 1px 1px 1px #000000;
background: var(--accent-color);
border-radius: 1px;
border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
box-shadow: 1px 1px 1px #000031;
border: 1px solid #00001E;
height: 26px;
width: 26px;
border-radius: 15px;
background: #FFFFFF;
cursor: pointer;
-webkit-appearance: none;
margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: var(--accent-color);
}
input[type=range]::-moz-range-track {
width: 100%;
height: 11px;
cursor: pointer;
animation: 0.2s;
box-shadow: 1px 1px 1px #000000;
background: var(--accent-color);
border-radius: 1px;
border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 1px #000031;
border: 1px solid #00001E;
height: 26px;
width: 26px;
border-radius: 15px;
background: #FFFFFF;
cursor: pointer;
}
input[type=range]::-ms-track {
width: 100%;
height: 11px;
cursor: pointer;
animation: 0.2s;
background: transparent;
border-color: transparent;
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: var(--accent-color);
border: 0px solid #010101;
border-radius: 2px;
box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
background: var(--accent-color);
border: 0px solid #010101;
border-radius: 2px;
box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
margin-top: 1px;
box-shadow: 1px 1px 1px #000031;
border: 1px solid #00001E;
height: 26px;
width: 26px;
border-radius: 15px;
background: #FFFFFF;
cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
background: var(--accent-color);
}
input[type=range]:focus::-ms-fill-upper {
background: var(--accent-color);
}

/* MEDIA SCREENS */

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
    }

    #grid {
        width: 80vw;
        height: 80vw;
    }

    @media (max-height: 750px) {
        .leftside {
            grid-template-rows: 50px 1fr;
        }
    }
}