:root {
    
}

* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    border: solid #052540 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 100px 1fr;
    gap: 10px;
}

/*TITLE*/
header {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing-grid {
    border: solid #052540 5px;
    width: 400px;
    height: 400px;
}

.options {
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}